---

---
<section class="aboutlittle">
  <h2><a href="/aboutlittle">リトルとは？</a></h2>
  <p>もう一人のわたしをさがそう</p>
  <div class="image-wrapper">
      <video
        src="/assets/videos/aboutlittle.mp4"
        autoplay
        muted
        loop
        playsinline
        controls
        class="video"></video>
  </div>
</section>
