---
import AboutABDL from '../../assets/images/IndexAboutABDL.png';
import AboutLittle from '../../assets/images/IndexAboutLittle.png';
---

<div class="about-section">
  <div class="item">
    <h2><a href="/aboutabdl">ABDLとは？</a></h2>
    <p>おとなの赤ちゃんとおむつフェチの紹介</p>
    <img src={AboutABDL.src} alt="ABDLとはの画像" />
  </div>

  <div class="item">
    <h2><a href="/aboutlittle">リトルとは？</a></h2>
    <p>もう一人のわたしをさがそう</p>
    <img src={AboutLittle.src} alt="リトルとはの画像" />
  </div>
</div>
