---

---

<section class="cinema">
  <h2>
    おむもふシネマ</a>
  </h2>
  <p>おむもふ動画を集めました。</p>
  <div class="image-wrapper">
      <a href="/cinema"><video
        src="/assets/videos/cinema/001.mp4"
        autoplay
        muted
        loop
        playsinline
        controls
        class="video"></video></a>
  </div>
</section>