---

---

<section class="cinema">
  <h2>
    <a href="/cinema">おむもふシネマ</a>
  </h2>
  <p>おむもふ動画を集めました。</p>
  <div class="image-wrapper">
      <video
        src="/assets/videos/cinema.mp4"
        autoplay
        muted
        loop
        playsinline
        controls
        class="video"></video>
  </div>
</section>