---
import GalleryImage from '../../assets/images/gallery.png';
---

<section class="gallery">
  <h2>
    <a href="/gallery">おむもふ画廊</a>
  </h2>
  <p>かわいい作品を集めた、リトルのためのやさしいギャラリー。</p>
  <div class="image-wrapper">
    <img src={GalleryImage.src} alt="おむもふ画廊の画像" />
  </div>
</section>
