---
import GalleryImage from '~/assets/images/gallery.png';
---
  <h2><a href="/gallery">おむもふギャラリー</a></h2>
  <p>かわいい作品を集めた、リトルのためのやさしいギャラリー。</p>
  <div class="image-wrapper">
    <video
      src="/assets/videos/gallery.mp4"
      autoplay
      muted
      loop
      playsinline
      controls
      class="video"></video>
  </div>
</section>
