---

---
<section class="link">
  <h2><a href="/link">おむもふリンク</a></h2>
  <p>ABDL　おすすめサイト</p>
  <div class="image-wrapper">
      <videoa
        src="/assets/videos/literature.mp4"
        autoplay
        muted
        loop
        playsinline
        controls
        class="video"></video>
  </div>
</section>
