---
import LiteratureImage from '../../assets/images/Literature.png';
---
<section class="literature">
  <h2>おむもふ文庫</h2>
  <p>リトルの空想　リアルの妄想</p>
  <dev class="image-wrapper">
    <a href="/Literature"><img src={LiteratureImage.src} alt="掲示板の画像" class="image" /></a>
  </dev>
</section>