---
import MessageBoardImg from '~/assets/images/messageBoard.png';
---

<section class="message-board">
  <a href="/messageboard"><h2>おむもふチャット</h2></a>
  <p>たくさんのリトルと交流しよう</p>
  <div class="image-wrapper">
    <img src={MessageBoardImage.src} alt="掲示板の画像" class="image" />
  </div>
</section>
