---
import Layout from "../layouts/Layout.astro";
//import ThemeSection from "../components/sections/fetishism/fetishismtheme.astro";
import { galleryData } from "../data/fetishism-image.ts";
---

<!-- 
<Layout>
  <h1>もふもふ♡フェティシズム</h1>
  {galleryData.map((block) => (
    <ThemeSection theme={block.theme} images={block.images} />
  ))}
</Layout>


--> 