---
import '../styles/common.css';
import Layout from '../layouts/Layout.astro';
import LoginButton from '../components/buttons/loginbutton.astro';
import AboutSection from '../components/sections/aboutsection.astro';
import SectionMessageBoard from '../components/sections/sectionmessageboard.astro';
import Literature from '../components/sections/literature.astro';
import Gallery from '../components/sections/gallery.astro';
import Fetishism from '../components/sections/home_fetishism.astro';
import Cinema from '../components/sections/cinema.astro';
---
  <Layout>
    <!-- 1. 背景専用の要素をここに追加 -->
    <div class="fixed-background"></div>
    <main>
      <h1>おむもふ</h1>
      
      <p class="catchphrase">ABDL総合コミュニティサイト</p>
      <video
        src="/assets/videos/indexhero.mp4"
        autoplay
        muted
        loop
        playsinline
        controls
        class="video"
      ></video>


      <p class="welcome-message">
        ABDLの世界へ初めての方も、長く楽しんでいる方も、
        安心して交流できる総合コミュニティです。<br />
        ここでは情報共有、イベント参加、ショッピング、そして何よりも繋がりを大切にしています。
        たくさんのリトルとおともだちになろう
      </p>


      <div class="center-wrapper"><LoginButton /></div>
      <p class="welcome-message">はじめてリトルはここから</p>

      <AboutSection />
      <Gallery />
      <Cinema />
      <SectionMessageBoard />
      <Literature />
      
      <!--<Fetishism />-->



      <div class="button-group">
        <a href="/aboutabdl" class="btn">ABDLとは？</a>
        <a href="/aboutlittle" class="btn">リトルとは</a>
        <a href="/forum" class="btn">掲示板・チャット</a>
        <a href="/literature" class="btn">おむもふ文庫</a>
      </div>
      <!-- 背景動画 -->
      <video class="fixed-background" autoplay muted loop playsinline>
        <source src="/assets/videos/index_back.mp4" type="video/mp4" />
        お使いのブラウザは動画に対応していません。
      </video>
    </main>
  </Layout>