---
import Layout from "~/layouts/Layout.astro";
const res = await fetch('http://127.0.0.1:5000/api/threads');
const threads = await res.json();

/*
const threads = [
  { id: 1, title: "はじめまして", created_at: "2025-08-01T12:00:00Z" },
  { id: 2, title: "オムモフの魅力", created_at: "2025-08-02T08:30:00Z" }
]; */
---

<Layout>
  <h1>スレッド一覧</h1>
<!-- 

  <ul>
    {
      threads.map(thread => (
        <li>
          <a href={`/thread/${thread.id}`}>
            {thread.title}
          </a>
        </li>
      ))
    }
  </ul>

  <p><a href="/new">新しいスレッドを作成する</a></p>

  -->
</Layout>
