---

---
<section class="aboutabdl">
  <h2><a href="/aboutabdl">ABDLとは？</a></h2>
  <p>おとなの赤ちゃんとおむつフェチの紹介</p>
  <div class="image-wrapper">
      <video
        src="/assets/videos/aboutabdl.mp4"
        autoplay
        muted
        loop
        playsinline
        controls
        class="video"></video>
  </div>
</section>
