---

---

<section class="fetishism">
  <h2><a href="/fetishism">おむもふ♡フェティシズム</a></h2>
  <p>ABDLだけでは、満足できないリトルのために</p>
  <div class="image-wrapper">
      <video
        src="/assets/videos/fetishism.mp4"
        autoplay
        muted
        loop
        playsinline
        controls
        class="video"></video></a>
  </div>
</section>