---

---
<section class="literature">
  <h2><a href="/literature">おむもふ文庫</a></h2>
  <p>リトルの空想　リアルの妄想</p>
  <div class="image-wrapper">
      <video
        src="/assets/videos/literature.mp4"
        autoplay
        muted
        loop
        playsinline
        controls
        class="video"></video>
  </div>
</section>
