---
import MessageBoardImage from '~/assets/images/messageBoard.png';
---
<section class="message-board">
  <h2><a href="/messageboard">おむもふ掲示板</a></h2>
  <p>たくさんのリトルと交流しよう</p>

    <div class="image-wrapper">
      <video
        src="/assets/videos/messageboard.mp4"
        autoplay
        muted
        loop
        playsinline
        controls
        class="video"></video>
  </div>
</section>
